* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 125px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.header-links {
    color: #e5e7eb;
    font-size: 18px;
    list-style-type: none;
    display: flex;
    gap: 22px;
}

.hero {
    background-color: #1f2937;
    display: flex;
    gap: 48px;
    padding: 65px 125px 95px;
}

.hero-main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 18px;
}

.hero-secondary-text {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 14px;
}

.hero-button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
}

.hero-image img {
    height: 350px;
    width: auto;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 28px 0 74px;
}

.information-title {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.information-cards {
    display: flex;
    justify-content: center;
    gap: 36px;
}

.information-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 175px;
}

.information-card img {
    height: 165px;
    width: 165px;
    border: 4px #3882f6 solid;
    border-radius: 20px;
}

.information-card p {
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    padding: 145px 225px;
}

.quote-text {
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
}

.quote-signature {
    font-weight: bold;
    text-align: right;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px;
    margin-top: auto;
}